{% extends 'base.html' %}

{% block content %}
<div class="simplove-profile-form-container">
  <h2>Mon compte</h2>
  <form method="post" action="{% url 'users:account' %}">
    {% csrf_token %}

    <div class="simplove-form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="simplove-form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <div class="simplove-form-group">
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
    </div>
    <div class="simplove-form-group">
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
    </div>
    <div class="simplove-form-group">
      {{ form.phone_number.label_tag }}
      {{ form.phone_number }}
    </div>
    <div class="simplove-form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
    <div class="simplove-form-group">
      {{ form.birth_date.label_tag }}
      {{ form.birth_date }}
    </div>

    <div class="simplove-form-buttons form-buttons">
      <input type="submit" value="Sauvegarder les changements" class="btn btn-primary simplove-btn-save">
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>
</div>
{% endblock %}
