{% extends 'base.html' %}

{% block title %}Simplove - Le cupidon du code !{% endblock %}

{% block content %}
    <div class="hero d-flex align-items-center justify-content-center text-center text-white">
        <div>
            <h1>Bienvenue sur Simplove, le cupidon du code !</h1>
            <p>Découvrez de nouvelles connexions à travers vos personnalités.</p>
            <div class="mt-4">
                <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg me-3">S'inscrire</a>
                <a href="{% url 'users:login' %}" class="btn btn-outline-light btn-lg">Connexion</a>
            </div>
        </div>
    </div>
{% endblock %}